SEMRUSH_EMAIL=''
SEMRUSH_PASSWORD=''
SEMRUSH_URL='https://www.semrush.com/login/?src=header&redirect_to=%2Fanalytics%2Foverview%2F%3FsearchType%3Ddomain'
CHROMEDRIVER_PATH='chromedriver.exe'
DOWNLOADS_PATH='C:/Users/Leo/Downloads'
DOMAINS_PATH='C:/Users/Leo/Downloads/domains.csv'
COUNTRIES_PATH='C:/Users/Leo/Downloads/countries.csv'
OUTPUT_PATH='output'
FIRST_DOMAIN='www.google.com'
DOMAIN_AMOUNT='5'
START_INDEX='0'
END_INDEX='5'
REPORT_MONTHS='8'
MONTH_YEAR='2022'
RETRY_ATTEMPTS='3'
RETRY_PAUSE='2'
