SEMRUSH_EMAIL=''
SEMRUSH_PASSWORD=''
SEMRUSH_URL='https://www.semrush.com/login/?src=header&redirect_to=%2Fanalytics%2Foverview%2F%3FsearchType%3Ddomain'
DOWNLOADS_PATH='C:/Users/Leo/Downloads'
DOMAINS_PATH='C:/Users/Leo/Downloads/domains.csv'
COUNTRIES_PATH='C:/Users/Leo/Downloads/countries.csv'
OUTPUT_PATH='output'
ARTIFACTS_PATH='artifacts'
STORAGE_STATE_PATH='artifacts/storage_state.json'
FIRST_DOMAIN='www.google.com'
DOMAIN_AMOUNT='5'
START_INDEX='0'
END_INDEX='5'
REPORT_MONTHS='8'
MONTH_YEAR='2022'
RETRY_ATTEMPTS='3'
RETRY_PAUSE='2'
BROWSER_HEADLESS='false'
BROWSER_WIDTH='1600'
BROWSER_HEIGHT='1600'
BROWSER_TIMEOUT='30000'
STRICT_DOWNLOADS='false'
SAVE_SCREENSHOTS='true'
